In [17]:
import numpy as np
from numpy import random
import pandas as pd

import scipy
from scipy import stats

In [2]:
np.set_printoptions(precision = 2)

In [3]:
a = np.array([1,2,3,4,5,6])
a

array([1, 2, 3, 4, 5, 6])

In [4]:
b = np.array([[10, 20, 30],[40,50, 60]])
b

array([[10, 20, 30],
       [40, 50, 60]])

### another way to create array

In [13]:
np.random.seed(25)
c = 36*np.random.random(6)
c

array([31.32, 20.96, 10.04,  6.69, 14.8 ,  4.23])

In [14]:
d=np.arange(1,35)
d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [16]:
d*5

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100, 105, 110, 115, 120, 125, 130,
       135, 140, 145, 150, 155, 160, 165, 170])

## Generating summary statistics using pandas and scipy

In [22]:
address  = 'C:/Users/User/GIT/modified.csv'
pokemons = pd.read_csv(address)
pokemons.head()

,Unnamed: 0,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

In [41]:
# pokemons = pokemons.drop(columns = ['#'])
pokemons.head()

,Unnamed: 0,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,1,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,2,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

In [54]:
Type1 = pokemons['Sp. Atk']
Type1.idxmax()

164

In [56]:
# Type1 = pokemons['Type 1']
# Type1.value_counts()

### Sumarizing categorical data

In [65]:
pokemons_cat = pokemons[['Total','HP', 'Type 1', 'Name']]
pokemons_cat.head(10)

   Total  HP Type 1                       Name
0    318  45  Grass                  Bulbasaur
1    405  60  Grass                    Ivysaur
2    525  80  Grass                   Venusaur
3    625  80  Grass      VenusaurMega Venusaur
4    309  39   Fire                 Charmander
5    405  58   Fire                 Charmeleon
6    534  78   Fire                  Charizard
7    634  78   Fire  CharizardMega Charizard X
8    634  78   Fire  CharizardMega Charizard Y
9    314  44  Water                   Squirtle

### Trandformation into categorical data type

In [66]:
Type1_group = pokemons_cat.groupby('Type 1')

In [67]:
Type1_group.describe()

          Total                                                               \
          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  378.927536  117.875223  194.0  269.00  395.0  475.00  600.0
Dark       31.0  445.741935  109.126217  220.0  359.00  465.0  510.00  680.0
Dragon     32.0  550.531250  146.267538  300.0  420.00  600.0  680.00  780.0
Electric   44.0  443.409091  105.721952  205.0  362.25  477.5  520.00  610.0
Fairy      17.0  413.176471  123.781680  218.0  323.00  405.0  483.00  680.0
Fighting   27.0  416.444444  102.464378  210.0  326.50  455.0  497.50  625.0
Fire       52.0  458.076923  109.760496  250.0  368.00  482.0  534.00  680.0
Flying      4.0  485.000000  161.400124  245.0  462.50  557.5  580.00  580.0
Ghost      32.0  439.562500  110.072685  275.0  335.00  464.5  495.75  680.0
Grass      70.0  421.142857  106.650626  180.0  318.50  430.0  497.00  630.0
Ground     32.0  437.500000  123.913081  265.0  329.50  440.0  512.25  770.0
Ice        24.0  433.458333  108.281027  250.0  305.00  467.5  526.25  580.0
Normal     98.0  401.683673  115.733038  190.0  302.50  415.0  481.50  720.0
Poison     28.0  399.142857   92.358687  245.0  323.75  401.5  490.00  535.0
Psychic    57.0  475.947368  139.026645  198.0  336.00  485.0  600.00  780.0
Rock       44.0  453.750000  108.059227  280.0  360.25  467.5  516.50  700.0
Steel      27.0  487.703704  115.420907  300.0  425.00  500.0  580.00  700.0
Water     112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

             HP
          count       mean        std   min    25%   50%     75%    max
Type 1
Bug        69.0  56.884058  16.328914   1.0  45.00  60.0   70.00   86.0
Dark       31.0  66.806452  21.078297  35.0  51.00  65.0   73.50  126.0
Dragon     32.0  83.312500  23.795415  41.0  67.50  80.0  101.25  125.0
Electric   44.0  59.795455  17.306511  20.0  50.00  60.0   70.00   90.0
Fairy      17.0  74.117647  23.587291  35.0  55.00  78.0   90.00  126.0
Fighting   27.0  69.851852  25.852695  30.0  50.00  70.0   79.00  144.0
Fire       52.0  69.903846  19.404123  38.0  58.00  70.0   80.00  115.0
Flying      4.0  70.750000  20.694202  40.0  69.25  79.0   80.50   85.0
Ghost      32.0  64.437500  31.685895  20.0  45.00  59.5   64.25  150.0
Grass      70.0  67.271429  19.516564  30.0  51.25  65.5   75.00  123.0
Ground     32.0  73.781250  25.662492  10.0  56.75  75.0   91.25  115.0
Ice        24.0  72.000000  21.286861  36.0  54.00  70.0   90.00  110.0
Normal     98.0  77.275510  36.233430  30.0  55.00  70.0   90.00  255.0
Poison     28.0  67.250000  19.665019  35.0  50.00  67.5   80.25  105.0
Psychic    57.0  70.631579  28.421340  20.0  50.00  68.0   80.00  190.0
Rock       44.0  65.363636  20.833884  30.0  50.00  68.5   80.00  123.0
Steel      27.0  65.222222  16.044010  40.0  57.00  60.0   75.00  100.0
Water     112.0  72.062500  27.487026  20.0  52.25  70.0   90.25  170.0